@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/**
VARIABLES
*/
:root {
  --app-width: min(90%, 32rem);
  --border-radius: 0.5rem;
  --body-font-size: 18px;
  --primary-blue: hsl(220, 98%, 61%);
  --checked-background: linear-gradient(
    to bottom right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );

  /* Light Mode */
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);
  /* Dark Mode */
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --Dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue-1: hsl(233, 14%, 35%);
  --very-dark-grayish-blue-2: hsl(237, 14%, 26%);
}

/**
ELEMENTS
*/

h1 {
  color: var(--very-light-grayish-blue);
  letter-spacing: 1rem;
}

body {
  height: 100vh;
  width: 100vw;
  font-size: var(--body-font-size);
  font-family: 'Josefin Sans', sans-serif;
}

p {
  color: var(--dark-grayish-blue);
}

li p {
  flex-grow: 1;
  margin-inline-start: 1rem;
  position: relative;
  top: 2px;
}

input[type='text'] {
  width: 100%;
  font-size: var(--body-font-size);
  padding: 1rem;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--very-light-gray);
  color: var(--very-dark-grayish-blue);
}

input[type='text']:focus {
  outline: none;
}

input[type='radio'] {
  appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  border: 1.5px solid var(--very-light-grayish-blue);
  border-radius: 50%;
}

input[type='radio'] {
  cursor: pointer;
}

button {
  all: unset;
  cursor: pointer;
}

ul {
  width: 100%;
}

li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid var(--very-light-grayish-blue);
  padding: 1rem;
}

li:hover {
  cursor: pointer;
}

li button {
  position: relative;
  top: 3px;
}

/**
IDS
*/
#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

/**
GENERIC CLASSES
*/
.icon {
  height: calc(var(--body-font-size) * 1.5);
}

/* APP */
.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: var(--app-width);
}

.app-container:before {
  position: absolute;
  content: '';
  height: 33%;
  width: 100%;
  background-size: cover;
  background-image: url(./assets/images/bg-desktop-light.jpg);
  z-index: -1;
}

.app-container:after {
  background-color: var(--very-light-gray);
  position: absolute;
  content: '';
  height: 66%;
  width: 100%;
  z-index: -1;
  top: 33%;
}

/* HEADING */
.heading-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: var(--app-width);
  margin-block-start: 15%;
  justify-content: space-between;
}

/* FORM INPUT */
.input-container {
  margin-block-start: 2rem;
  width: var(--app-width);
}

/* TODO LIST */
.list-container {
  width: var(--app-width);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-block-start: 1.3rem;
  background-color: var(--very-light-gray);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: var(--border-radius);
}

.completed input {
  background-image: url('../public/assets/images/icon-check.svg'),
    var(--checked-background);
  background-repeat: no-repeat;
  background-position: center;
}

.completed p {
  text-decoration: line-through;
  color: var(--very-light-grayish-blue);
}

/* FOOTER */
.list-footer {
  width: var(--app-width);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 0.8em;
  color: var(--dark-grayish-blue);
}

.list-footer button:hover {
  color: var(--very-dark-grayish-blue);
}

.item-toggle {
  display: flex;
  align-items: center;
  flex-grow: 0.2;
  justify-content: space-between;
}

.active-toggle {
  color: var(--primary-blue);
}

/**
DARKMODE
*/
.darkmode.app-container:before {
  background-image: url(./assets/images/bg-desktop-dark.jpg);
}

.darkmode.app-container:after {
  background-color: var(--very-dark-blue);
}

.darkmode input[type='text'] {
  background-color: var(--very-dark-desaturated-blue);
  color: var(--very-light-grayish-blue)
}

.darkmode input[type='text']::placeholder {
  color: var(--very-light-grayish-blue)
}

.darkmode .list-container {
  background-color: var(--very-dark-desaturated-blue);
}

.darkmode li {
  border-bottom-color: var(--Dark-grayish-blue);
}

.darkmode input[type='radio'] {
  border-color: var(--very-dark-grayish-blue-1);
}

.darkmode li.completed p {
  color: var(--very-dark-grayish-blue)
}

.darkmode .list-footer p,
.darkmode .item-toggle button {
  color: var(--very-dark-grayish-blue-1)
}

.darkmode .list-footer p:hover,
.darkmode .item-toggle button:hover {
  color: var(--light-grayish-blue-hover)
}

.darkmode .item-toggle .active-toggle {
  color: var(--primary-blue);
}

/**
MOBILE
*/
.is-mobile .item-toggle {
  background-color: var(--very-light-gray);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: var(--border-radius);
  width: var(--app-width);
  padding: 1rem;
  font-size: 0.8em;
  flex-grow: 0;
  margin-block-start: 1rem;
  gap: 1rem;
  justify-content: center;
}

.is-mobile .item-toggle button {
  color: var(--Dark-grayish-blue)
}

.is-mobile .item-toggle .active-toggle {
  color: var(--primary-blue)
}

.is-mobile.darkmode .item-toggle {
  background-color: var(--very-dark-desaturated-blue)
}